*{margin:0; padding: 0; box-sizing: border-box;}


body{
  background-color: #000;
}

header {
  width: 20%;
 
}
.side-header-innerdata ul ,.library-link{
  list-style: none;
  background: #333333;
  padding:20px 20px 10px 20px;
}
.library-link{
  margin-top: 10px;
}
.side-header-innerdata ul li{
  width: 100%;
  margin-bottom: 20px;
}
.side-header-innerdata ul li a {
  color: #fff;
  text-decoration: none;

}
.main {
  width: 100%;
  display: flex;
}
.RightBlock {
  padding: 0px 10px;
  width: 100%;
}
.btn{
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 15px 20px;
  border-radius: 20px;
  font-weight: 600;
}
.btn-sec{
  background-color: #fff;
  color: #000!important;
}
.topbar-block {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
}
.btn {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  margin-left: 20px;
}